<!DOCTYPE html>
<html>
<head>
	<title>Select you rentals</title>
	<link rel="stylesheet" type="text/css" href="../on-off-css/on-off.css">
</head>
<body>
	<form method="POST" action="/updaterentals">
		<%equips.forEach(function(equip){%>
			<!-- Rounded switch -->
			<label class="switch">
			  <h2><%=equip.name%></h2> <br> 
			  <!-- The trick -->
			  <%if(equip.state == 0){%>
			  	<input name="<%=equip.name%>" type="checkbox">
			  <%}else{%>
			  	<input name="<%=equip.name%>" type="checkbox" checked>
			  <%}%>
			  <span class="slider round"></span>
			</label>
			<br>
		<% }) %>
		<input type="submit" value="submit">
	</form>
	</body>
</html>
	